{% extends 'base.html' %}  
  
{% block title %}Search{% if code %}"{{ code }}"{% endif %}{% endblock %}  
  
{% block main %}
  
<style>  
  .nice-box {  
    border: 1px solid #ddd;  
    border-radius: 4px;  
    padding: 15px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    margin-bottom: 20px;  
    background-color: #f5f5f5;  
  }  
  
  .system-message {  
    border: 1px solid #007bff;  
    border-radius: 4px;  
    background-color: #007bff;  
    color: #fff;  
    padding: 15px;  
    margin-bottom: 20px;  
  }  
  
  .nice-box select {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 10px;  
    font-size: 16px;  
    border-radius: 4px;  
    border: 1px solid #ddd;  
  }  
  
  .nice-box button {  
    background-color: #007bff;  
    color: #fff;  
    border: none;  
    border-radius: 4px;  
    padding: 10px 20px;  
    font-size: 16px;  
    cursor: pointer;  
  }  
</style>  
  
<div class="container">  
  <div class="text-center">  
    <div class="system-message">  
      <h1 class="jumbotron-heading">Search</h1>  
    </div>  
  </div>   
  <div class="nice-box">    
    <br>
    <form action="/search" method="post">
        <h3>Average molecular weight</h3>      
        <h5>Minimum weight</h5><input type="text" class="form-control" name="Min weight" id="min_weight" pattern="^[0-9]\d*(\.\d+)?$" oninvalid="this.setCustomValidity('Enter integer or float only')" oninput="this.setCustomValidity('')"/>
        <h5>Maximum weight</h5><input type="text" class="form-control" name="Max weight" id="max_weight" pattern="^[0-9]\d*(\.\d+)?$" oninvalid="this.setCustomValidity('Enter integer or float only')" oninput="this.setCustomValidity('')"/>
        <br>
      <button type="submit">Submit</button>  
    </form>  
  </div>  
</div>  
  
{% endblock %}  
